<html>
    <body>
    	<strong>Olá $fatura.plano.beneficiario.nome</strong><br />
    	<strong>Sua fatura está disponível para pagamento</strong><p />
        <table>
            <tr>
                <td style="width: 100px">Nome:</td>
                <td>$fatura.plano.beneficiario.nome</td>
            </tr>
            <tr>
                <td>Valor total:</td>
                <td>$fatura.converterValorTotal</td>
            </tr>
            <tr>
                <td>Vencimento:</td>
                <td>$fatura.converterDataVencimento</td>
            </tr>
        </table>
    </body>
</html>