<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<beans:bean id="appUserDetailsService" class="br.com.aee.security.AppUserDetailsService" />
	
	<beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
	    <beans:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
	    <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
	</beans:bean>
	
	<beans:bean id="jsfAccessDeniedHandler" class="br.com.aee.ajax.JsfAccessDeniedHandler">
	    <beans:property name="loginPath" value="/pages/error/404.xhtml" />
	    <beans:property name="contextRelative" value="true" />
	</beans:bean>
	
	<beans:bean id="authenticationEntryPoint" class="br.com.aee.ajax.JsfLoginUrlAuthenticationEntryPoint">
	    <beans:property name="loginFormUrl" value="/pages/public/login.xhtml"/>
	    <beans:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</beans:bean>
	
	<beans:bean id="jsfRedirectStrategy" class="br.com.aee.ajax.JsfRedirectStrategy"/>

	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/pages/error/**" security="none" />
	<http pattern="/pages/public/**" security="none" />

	<!-- Configura pagina de login -->
	<http auto-config="true" use-expressions="true">
	
		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />
		
		<intercept-url pattern="/pages/protected/dashboard/**" 		access="isAuthenticated()" />
		<intercept-url pattern="/pages/protected/manual/**" 		access="isAuthenticated()" />
		<intercept-url pattern="/pages/protected/documentacao/**" 	access="isAuthenticated()" />
		<intercept-url pattern="/pages/protected/meu-perfil/**" 	access="isAuthenticated()" />
		<intercept-url pattern="/pages/protected/usuario/**" 		access="hasAnyRole('GERENCIAR_USUARIOS')"/>
		<intercept-url pattern="/pages/protected/perfil/**" 		access="hasAnyRole('GERENCIAR_USUARIOS')"/>
		<intercept-url pattern="/pages/protected/beneficiario/**" 	access="hasAnyRole('GERENCIAR_ASSOCIADO', 	'CONSULTAR_ASSOCIADO')" />
        <intercept-url pattern="/pages/protected/dependente/**" 	access="hasAnyRole('GERENCIAR_ASSOCIADO', 	'CONSULTAR_ASSOCIADO')" />
		<intercept-url pattern="/pages/protected/faixa/**" 			access="hasAnyRole('GERENCIAR_FAIXA_ETARIA','CONSULTAR_FAIXA_ETARIA')"/>
		<intercept-url pattern="/pages/protected/fatura/**"			access="hasAnyRole('CONSULTAR_FATURA', 		'EDITAR_FATURA')"/>
		<intercept-url pattern="/pages/protected/convenio/**" 		access="hasAnyRole('GERENCIAR_CONVENIOS_SERVICOS', 	'CONSULTAR_CONVENIOS_SERVICOS')"/>
		<intercept-url pattern="/pages/protected/email/**" 			access="hasAnyRole('ENVIAR_EMAIL')"/>
		<intercept-url pattern="/pages/protected/caixa/**" 			access="hasAnyRole('FLUXO_CAIXA')"/>
		
		<!-- Intercepta url -->
		<intercept-url pattern="/**" access="denyAll" />
		
		<form-login login-page="/pages/public/login.xhtml" authentication-failure-url="/pages/public/login.xhtml?invalid=true" 
			default-target-url="/pages/protected/dashboard/dashboard.xhtml" always-use-default-target="true"/>
			
		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />
		
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService" >
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>